{
  "extends": "../../packages/typescript-config/base.json",
  "compilerOptions": {
    "types": ["jest", "node"],
    "noEmit": true
  },
  "include": ["src", "test"],
  "exclude": ["dist", "build", "node_modules"]
}
